/* navbar */
@font-face{
    font-family: supercharge;
    src:url(SuperchargeStraight-nR87V.otf)
}
@font-face{
    font-family: noto;
    src:url(NotoSerif-VariableFont_wdth\,wght.ttf)
}
* {
    font-family: noto;
}
.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-item{
    text-decoration: none;
    list-style-type: none;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
    
}

.nav-flex-row li a {
    font-family: supercharge;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}
.wrapper {
    display: flex;
    justify-content: center;
    margin: 10 30px;
}

.wrapper-1 {
    display: flex;
    justify-content: center;
    margin: 10 30px;


}

.wrapper-1 .card {
    margin: 10px 10px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(245, 246, 245);
    width: 300px;
    height: 330px;
}

.wrapper .card {
    margin: 30px 10px 10px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(245, 246, 245);
    width: 300px;
    height: 330px;
}

.card img {
    padding: 10px;
    margin: 40px 20px;
    width: 250px;
    border-radius: 30px;

}
.judul {
    font-family: supercharge;
    color: black;
    text-shadow: maroon;
    text-align: center;
}
.card-body {
    margin: 5px;
}
.card:hover {
    scale: 1.10;
}
.card-img-top1 {
    margin: 40px;
}
.Product{
    background-color: aquamarine;
    display: flex;
    text-align: center;
    padding: 2rem;
    gap: 20px;
    line-height: 7px;
  }



.promo {
    display: grid;
    justify-content: center;
    align-items: center;
}


/* footer */
.buy-button{
    background-color: rgba(126, 5, 5, 0.61);
    padding: 2rem;
    text-align: center;
    font-family: supercharge;
}

/* caraousel */
.carousel-inner{
    column-fill: auto;
    font-family: coffee;
}
.carousel-inner{
    color: black;
}
.footer{
    display: flex;
    background-color: #fdd5fd;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 20px;
    justify-content: space-between;
}

.paragraf{
    font-family: coffee;
    margin-left: 60px;
    justify-items: center;
    margin-top: 40px;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    }

.footer1{
    gap: 60px;
    display: flex;
    justify-content: center;
    padding: 35px;
  
}